
.card{
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);

  padding: 10px;
  margin: 10px ;
  display: inline-block;
  text-align: center;
  max-width: 250px;

  
}

.card .card-image{
  max-width: 40%;
  height: auto;
}

.card .card-title {
  font-family: Arial, Helvetica, sans-serif;
  color: #370303;
}

.button{
  background-color: rgb(59, 153, 212);
  color: rgb(232, 232, 232);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
}

.button:hover{
  background-color: blue;
}

.student {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  border: 1px solid rgb(153, 85, 51);
  color: rgb(98, 22, 15);
  max-width: 25%;
  margin: 10px 10px ;
}

.student p{
  margin: 2px;
}